*.rbc
*.sassc
.sass-cache
capybara-*.html
.bundle
.rspec
.rvmrc
.ruby-version
.ruby-gemset
.rbenv-gemsets
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/config/database.yml
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

# Ignore application configuration
/config/application.yml
