<%- model_class = SettlementLedger -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<ul class="nav nav-tabs" id="conditionTab">
  <li><a href="#not-completed" data-toggle="tab">未完了</a></li>
  <li><a href="#all" data-toggle="tab">すべて</a></li>
</ul>
<div id="settlement-ledger-list">
  <%= render partial: 'settlement_ledger_list' %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_settlement_ledger_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.download', :default => t("helpers.links.download")),
            download_settlement_ledgers_path,
            :class => 'btn btn-primary' %>
