- model_class = SettlementLedger
.page-header
  %h3= t '.title', :default => model_class.model_name.human.pluralize.titleize

  = link_to t('.cancel', :default => t("helpers.links.cancel")),
              settlement_ledgers_path, :class => 'btn btn-primary'
