h1#logo {
  width: 750px;
  height: 100px;
  text-indent: -9999px;
  background-position: right;
  background-image: url(/assets/logo.png);
  
  a {
    display: block;
    width: 750px;
    height: 100px;
    &:hover {
      background-color: transparent;
    }
  }
}
