<p>こんにちは <%= @resource.email %> さん</p>

<p>パスワード変更の申請を受け付けました。以下のリンクから新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>このメールに覚えがない場合は無視してください。</p>
<p>上記のリンクから新しいパスワードを設定するまで、パスワードは変更されません。</p>
